<% provide :title, t(".title") %>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"><%= t ".welcome" %></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to t(".home_breadcrumb"), root_path %></li>
          <li class="breadcrumb-item active"><%= t ".welcome_breadcrumb" %></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="content" ></div>
  <div class="container-fluid" id="home-content" >
    <div class="row" id="home-content-row">
      <div class="col-lg-6">
        <div>
          <div>
            <h5>Noi Bai airport</h5>
            <p class="overview">
            Noi Bai International Airport (IATA: HAN, ICAO: VVNB),
            <br>the biggest airport in northern Vietnam, serves the capital city of Hanoi. 
            </p>
            <a href="https://www.hanoiairportonline.com/" target="_blank" class="card-link" id="view-more">View more... </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
          <img id="attentdant" class="img-circle" src="../../images/flight-attendant.png" alt="User Image">
      </div>
      
    </div>
  </div>
</div>
