<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t(".footer_about"), "#" %></li>
      <li><%= link_to t(".footer_contact"), "#" %></li>
      <li><%= link_to t(".footer_news"), "#" %></li>
    </ul>
  </nav>
</footer>
