<header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "header", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-link"><%= link_to "home", "#" %></li>
        <li class="nav-link ml-2"><%= link_to "help", "#" %></li>
        <li class="nav-link ml-2"><%= link_to "login", "#" %></li>
        </ul>
    </nav>
  </div>
</header>
