@import 'bootstrap/scss/bootstrap';
@import './libs/adminlte.scss';
@import './libs/all.css';

#error_explanation {
  color: red;
  ul {
    color: red;
  }
}

.checkbox {
  span {
    margin-left: 2px;
  }
}

.overview{
  font-size: 45px;
  color: #D7DBDD;
}

#home-content {
  background-image: url('../../images/bg.jpg');
  height: 710px;
}

#home-content-row{
  background-color:rgba(86, 127, 170, 0.76);
  height: 710px;
  color: white;
  padding-top: 100px;
  padding-left: 180px;
}

#view-more {
  color: white;
}

#view-more:hover {
  color: #CACFD2;
}

#attentdant{
  margin-left: -50px;
  width: 613px;
  height: 613px;
}


